.github
.vscode
.codex

node_modules
web/node_modules
web-admin/node_modules

web/build
web-admin/build
web/build-temp
web-admin/build-temp
admin/server_linux_amd64
admin/server_linux_arm64

logs
tmp

.DS_Store
